body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.code {
    background-color: #252525;
    color:cornsilk;
    padding: 10px;
    border-radius: 5px;
}

.custom-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dialog-content {
    text-align: center;
}